/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Sección de Bienvenida */
.bienvenida {
    background: linear-gradient(to right, #a13567, #0b0b0b); /* Fondo degradado */
    padding: 50px 0;
    text-align: center;
}

/* Contenedor con fondo */
.contenedor {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Texto a la izquierda */
.texto {
    max-width: 50%;
    color: white;
}

.texto h1 {
    font-size: 40px;
    font-weight: bold;
}

.texto p {
    font-size: 22px;
}

/* Botón */
.boton {
    display: inline-block;
    background-color: white;
    color: #ff5733;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Imagen a la derecha */
.imagen img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

/* Sección de descripción en fondo blanco */
.descripcion {
    background-color: white;
    padding: 50px;
    text-align: center;
}

.descripcion h2 {
    color: #030303;
    font-size: 28px;
}

.descripcion p {
    font-size: 22px;
    max-width: 800px;
    margin: auto;
    color: #060606;
}

/* Botón de WhatsApp flotante */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whatsapp-button img {
    width: 50px;
    height: auto;
}

.whatsapp-text {
    font-size: 22px;
    color: #25D366;
    font-weight: bold;
    margin-left: 10px;
}

header {
    position: relative;
    width: 100%;
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center; /* Alinear verticalmente logo y texto */
    position: absolute;
    top: 40px; /* Mantiene la posición original */
    left: 80px; /* Ajusta la ubicación del logo */
}

.logo {
    width: 140px; /* Tamaño del logo */
    height: auto;
    margin-right: 20px; /* Espacio entre el logo y el eslogan */
}

.eslogan {
    font-size: 22px;
    font-weight: bold;
    color: #f6f0f0;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
}

.contenedor-objetivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 22px; /* Puedes cambiar este valor según lo necesites */

}

.texto-efecto {
    white-space: pre-line;
    text-align: center;
    font-size: 22px; /* Puedes cambiar este valor según lo necesites */

}